.idea
.claude
.tools/
/java_patch/out
/java_test/out
c_render/screenshot_*.ppm
dist/local-test-windows/snap_*.ppm
carplay_hook.jar
libcarplay_hook.so
!dist/r3/carplay_hook.jar
!dist/r3/libcarplay_hook.so
!dist/r4.1/carplay_hook.jar
!dist/r4.1/libcarplay_hook.so
/build/r4*/
mu1316_lsd.jar
**/.DS_Store
